nav {
    /* background-color: #666; */
    background: "img/tierra.png";
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 3px;
    transition: background-color 0.3s;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    background-color: #f0e9e9;
}